html
  head
    title Incurso
    link(rel='stylesheet',href='/css/bootstrap.min.css')
    link(rel='stylesheet',href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet',href='/css/incurso.css')
    block css
  body
    header
      .navbar(style="margin-bottom:0px")
        .navbar-inner
          .span12
            a.brand(href='#') Incurso
            ul.nav(style='float:right')
              -if(session_user)
                li
                  a(href='#') !{__('Home')}
                -if(session_user.role == 1)
                  li(style)
                    a(href='/user/index') !{__('Users')}
                li
                  a(href='/session/logout') !{__('Logout')}
              -else
                li
                  form.form-inline(method="POST")
                    input.input-small(name="email",type="text",placeholder=__('email'))
                    input.input-small(name="password",type="password",placeholder=__('password'))
                    button.btn.btn-small(type="submit") !{__('Enter')}
    //- -if(flash)
    //-   -if(flash['error'])
    //-     .alert.alert-error !{flash['error']}
    //-   -if(flash['success'])
    //-     .alert.alert-success !{flash['success']}
    -while(messages.length)
      -message = messages.pop()
      div(class="alert alert-"+message[0],style='text-align:center') !{message[1]}
    .container
      block content
    footer
    script(src='/js/jquery-2.0.2.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/horizon.js')
    block script