extends ../layout

block content
  br
  .row-fluid
    .span3.well
      ul.nav.nav-list
        -if(session_user.role == 1 || session_user.role == 2)
          li
            a.btn.btn-add-channel
              i.icon-plus-sign
              !{' '+__('Channel')}
        li.nav-header !{__('My Courses')}
        li
          a(href='#') Futuro link
        li
          a(href='#') Curso Exemplo
        li.nav-header !{__('Areas')}
        li
          a(href='#') Matemática
        li
          a(href='#') Informática
    .span6
      -if(session_user.role == 1 || session_user.role == 2)
        .form-add-channel
          form.form-horizontal.thumbnail.well(method='post',action='/channel/create')
            .control-group
              .controls
                h4 !{__('Add Channel')}
            .control-group
              label.control-label(for='channel_name') !{__('Channel')}
              .controls
                input(name='channel_name')
            .control-group
              label.control-label(for='channel_description') !{__('Description')}
              .controls
                textarea(name='channel_description')
            -if(session_user.role == 1)
              .control-group
                label.control-label(for='channel_access') !{__('Access')}
                .controls
                  select(name='channel_access')
                    option(value=1) !{__('Private')}
                    option(value=2) !{__('Public')}
            .control-group
              .controls
                input#channel_description(type='submit') !{__('Save')}
      ul.thumbnails
        li.span12
          -for channel, key in channels
            a.thumbnail.well(href='/channel?channel='+channel._id)
              h4 !{channel.name}
              -if(channel.description.length > 131)
                p !{channel.description.substring(0,131)+'...'}
              -else
                p !{channel.description}
    .span3.thumbnail(style='height:400px')

block script
  script(src='/js/incurso-channels.js')